body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#fraStasjon:focus {
    border-color: #029678;
    box-shadow: inset 0 1px 1px rgba(2,150,120, 0.8), 0 0 8px rgba(2,150,120, 0.86);
}

#tilStasjon:focus {
    border-color: #029678;
    box-shadow: inset 0 1px 1px rgba(2,150,120, 0.8), 0 0 8px rgba(2,150,120, 0.86);
}

#dato:focus {
    border-color: #029678;
    box-shadow: inset 0 1px 1px rgba(2,150,120, 0.8), 0 0 8px rgba(2,150,120, 0.86);
}


#Tidspunkt:focus {
    border-color: #029678;
    box-shadow: inset 0 1px 1px rgba(2,150,120, 0.8), 0 0 8px rgba(2,150,120, 0.86);
}

#bestill {
    background-color: #029678;
    width: 150px;
}
#VyLogoNavBar {
    padding-left:0px;
    padding-bottom: 30px;
}

#knappKnapp {
    margin-left:0px;
    padding-left:5px;
}

#prisUtVoksen {
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
    padding-bottom: 2px;
}
#voksen {
    font-weight: 600;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 20px;
    padding-bottom: 2px;
    width: 100px;
}
#barn {
    font-weight: 600;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 20px;
    padding-bottom: 2px;
    width: 100px;
}
#prisUtBarn {
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
    padding-bottom: 2px;
}

/*Prevent text selection*/
span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input {
    border: 0;
    width: 2%;
}

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input:disabled {
        background-color: white;
    }
/* ---------------*/
.billettvelgerAntall {
    float: left;
}

#bildettvelgerAntallPlassering {
    margin-left: 0;
    padding-left: 5px;
    text-align: left;
}

.qty1 .count1 {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}

.qty2 .count2 {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}

.qty1 .plus1 {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
}

.qty2 .plus2 {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
}

.qty1 .minus1 {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}

.qty2 .minus2 {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}

div {
    text-align: center;
}

.minus1 :hover {
    background-color: #029678 !important;
}

.plus1 :hover {
    background-color: #029678 !important;
}

.minus2 :hover {
    background-color: #029678 !important;
}

.plus2 :hover {
    background-color: #029678 !important;
}