body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* CSS fra Index.cshtml */
#fraStasjon:focus {
    border-color: #029678;
    box-shadow: inset 0 1px 1px rgba(2,150,120, 0.8), 0 0 8px rgba(2,150,120, 0.86);
}

#tilStasjon:focus {
    border-color: #029678;
    box-shadow: inset 0 1px 1px rgba(2,150,120, 0.8), 0 0 8px rgba(2,150,120, 0.86);
}

#dato:focus {
    border-color: #029678;
    box-shadow: inset 0 1px 1px rgba(2,150,120, 0.8), 0 0 8px rgba(2,150,120, 0.86);
}

#Tidspunkt:focus {
    border-color: #029678;
    box-shadow: inset 0 1px 1px rgba(2,150,120, 0.8), 0 0 8px rgba(2,150,120, 0.86);
}

#returDato:focus {
    border-color: #029678;
    box-shadow: inset 0 1px 1px rgba(2,150,120, 0.8), 0 0 8px rgba(2,150,120, 0.86);
}

#returAvgang:focus {
    border-color: #029678;
    box-shadow: inset 0 1px 1px rgba(2,150,120, 0.8), 0 0 8px rgba(2,150,120, 0.86);
}

#visReturDato {
    display: none;
}

#visReturTidspunkt {
    display: none;
}

#bestillKnapp {
    background-color: #029678;
}

#knappKnapp {
    margin-left: 0px;
    padding-left: 5px;
}
#knappKnapp2 {
    margin-left: 0px;
    padding-left: 0px;
}

.feilmeldinger{
    color: red;
}

#loggInnLink {
    color: black;
   

}


/* CSS fra Bestilling.cshtml */
#epost:focus {
    border-color: #029678;
    box-shadow: inset 0 1px 1px rgba(2,150,120, 0.8), 0 0 8px rgba(2,150,120, 0.86);
}

td, th {
    text-align: left;
    padding-right: 30px;
}


h5 {
    color: #029678;
}


/* CSS fra Layout.cshtml */
#VyLogo {
    padding-left: 0px;
    padding-bottom: 30px;
}


#inputBoks:focus {
    border-color: #029678;
    box-shadow: inset 0 1px 1px rgba(2,150,120, 0.8), 0 0 8px rgba(2,150,120, 0.86);
}


/* CSS fra Admin view */
#lenker {
    color: #029678;
    font-size: large;
}

#knapp {
    background-color: #029678;
}

#endre {
    color: #029678;
    padding-left: 5px;
    padding-right: 20px;
    font-size: large;
    font-weight: bold;
}

#slett {
    color: red;
    padding-left: 5px;
    padding-right: 20px;
    font-size: large;
    font-weight: bold;
}

#se {
    color: #029678;
    padding-left: 5px;
    padding-right: 20px;
    font-size: large;
    font-weight:bold;
}

#endreKnapp {
    background-color: #FFD586;
}

#BaneID:focus {
    border-color: #029678;
    box-shadow: inset 0 1px 1px rgba(2,150,120, 0.8), 0 0 8px rgba(2,150,120, 0.86);
}


