
@{
    ViewBag.Title = "Bekreftelse";
}

    <h2>Din bestilling er registrert og sendt!</h2>



<!--For å komme tilbake til bestillingsvindu-->
<div>
    @Html.ActionLink("Tilbake til hovedsiden", "Index")
</div>