
@{
    ViewBag.Title = "Bekreftelse";
}

<h2>Takk for din bestilling</h2>

<p>Din bestilling er registrert og bekreftelse er sendt til din e-post. God tur!</p>

<br/>

<!--For å komme tilbake til bestillingsvindu-->
<div>
    @Html.ActionLink("Tilbake til bestilling", "Index")
</div>