@model Oppg1.Models.Bestilling
    @{

    }
<h2>Bestilling</h2>

Her er dataene:
<table>

    <tr>
        <th>
            Dato
        </th>
        <th>
            Avgang
        </th>
    </tr>
    <tr>
        <th>
            @Model.dato
        </th>
        <th>
            @Model.avgang
        </th>
    </tr>
</table>



Må du endre bestillingen? Klikk tilbake til bestilling for å endre (:
<!--For å komme tilbake til bestillingsvindu-->
<div>
    @Html.ActionLink("Tilbake til bestilling", "Index")
</div>