<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vy</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-reboot.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/JavaScript.rich.js"></script>
    
</head>

<body>

    <form action="/Home/Index" method="post" id="myForm">
        <h2>Hei, hvor ønsker du å reise?</h2>
        <br />

        <div class="form-row">

            <div class="form-group col-md-4" id="dropDown">
                <label for="exampleFormControlSelect1">Reise fra</label>
                <select class="form-control" id="fraStasjon" name="fraStasjon" required></select>
            </div>


            <div class="form-group col-md-4" id="dropDown">
                <label for="exampleFormControlSelect1">Reise til</label>
                <select class="form-control" id="tilStasjon" name="tilStasjon"required></select>
            </div>
        </div>

        <div class="form-horizontal">
            <table class="form-check">
                <tr>
                    <td class="radio" id="turRetur" >
                        <input type="radio" name="tur" value="en vei" checked> En vei<br>
                        <input type="radio" name="tur" value="tur/retur" id="retur"> Tur/Retur<br>
                    </td>
                </tr>
            </table>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="exampleFormControlSelect1">Dato</label>
                <input class="form-control" id="dato" name="dato" type="date" required>
            </div>


            <div class="form-group col-md-4" id="dropDown">
                <label for="exampleFormControlSelect1">Tid</label>
                <select class="form-control" id="Tidspunkt" name="avgang" required></select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4" id="visReturDato">
                <label for="exampleFormControlSelect1">Returdato</label>
                <input class="form-control" id="returDato" name="returDato" type="date" >
            </div>


            <div class="form-group col-md-4" id="visReturTidspunkt">
                <label for="exampleFormControlSelect1">Returtidspunkt</label>
                <select class="form-control" id="returAvgang" name="returAvgang" ></select>
            </div>
        </div>

            <div class="form-row">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" id="knappKnapp">
                            <input type="submit" onclick="return validateAll()"  name="Bestilling" value="Gå til bestilling" class="btn btn-success" id="bestillKnapp" />
                        </div>
                    </div>
                </div>
            </div>
    </form>
</body>
</html>

