
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-reboot.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/JavaScript-Hilde.js"></script>

</head>

<body>
    

    <form action="/Home/Index" method="post" id="myForm">
        <h2>Hei, hvor ønsker du å reise?</h2>
        <br />

        <div class="form-row">

            <div class="form-group col-md-6" id="dropDown">
                <label for="exampleFormControlSelect1">Reise fra</label>
                <select class="form-control" id="fraStasjon" name="fraStasjon" required></select>
            </div>


            <div class="form-group col-md-6" id="dropDown">
                <label for="exampleFormControlSelect1">Reise til</label>
                <select class="form-control" id="tilStasjon" name="tilStasjon" required></select>
            </div>



            <div class="form-group col-md-6">
                <label for="exampleFormControlSelect1">Dato</label>
                <input class="form-control" id="dato" name="dato" type="date" required>
            </div>


            <div class="form-group col-md-6" id="dropDown">
                <label for="exampleFormControlSelect1">Tid</label>
                <select class="form-control" id="Tidspunkt" name="avgang"></select>

                <div id="feilTid"></div>

            </div>
            <div class="form-group col-md-6">
                <div class="billettvelgerAntall">
                    <div class="qty1 mt-5" id="bildettvelgerAntallPlassering" style="display: inline; float:left;">
                        <label for="exampleFormControlSelect1" id="voksen"><b>Voksen</b></label>
                        <span class="minus1" style="background-color:#029678">-</span>
                        <input type="text" class="count1" name="voksen" value="0">
                        <span class="plus1" style="background-color:#029678">+</span>
                        <span id="prisUtVoksen" name="prisUtVoksen"></span>
                    </div>
                </div>

                <div class="billettvelgerAntall">
                    <div class="qty2 mt-5" id="bildettvelgerAntallPlassering" style="display: inline; float:left;">
                        <label for="exampleFormControlSelect1" id="barn"><b>Barn</b></label>
                        <span class="minus2" style="background-color:#029678">-</span>
                        <input type="text" class="count2" name="barn" value="0">
                        <span class="plus2" style="background-color:#029678">+</span>
                        <span id="prisUtBarn" name="prisUtBarn"></span>
                    </div>
                </div>
            </div>
            </div>
            <div class="form-row">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" id="knappKnapp">
                            <input type="submit" id="bestill" name="Bestilling" value="Bestill" class="btn btn-success" />
                        </div>
                    </div>
                </div>

            </div>
            <!-- onclick="return validateAll()" -->
</form>
</body>
</html>