<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script type="text/javascript">
        var stasjoner;
        var thread = null;
        var fs;
        $(function () {
            // ToDo
            // hentAlleStasjoner og bygg opp dropdown når siden lastes

            $.ajax({
                url: '/Home/hentFraStasjoner',
                type: 'GET',
                dataType: 'json',
                success: function (stasjon) {
                    VisFraDropDown(stasjon);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });



            //$.ajax({
            //    url: '/Home/hentFraStasjoner',
            //    type: 'GET',
            //    dataType: 'json',
            //    success: function (stasjon) {
            //        VisFraDropDown1(stasjon);
            //    },
            //    error: function (x, y, z) {
            //        alert(x + '\n' + y + '\n' + z);
            //    }
            //});

            //function VisFraDropDown1(stasjon) {
            //    var utStreng = "<option value'' selected hidden>Hvor vil du reise fra?</option>";
            //    for (var i in stasjon) {
            //        utStreng += "<option value='" + stasjon[i].stasjonsID + "'>" + stasjon[i].Stasjonsnavn + "</option>";
            //    }
            //    $("#testFra").append(utStreng);
            //}

            // FRA STASJONER
            $.ajax({
                url: '/Home/hentFraStasjoner',
                type: 'GET',
                dataType: 'json',
                success: function (stasjon) {
                    stasjoner = stasjon;
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });


            $("#testInput").keyup(function () {
                clearTimeout(thread);
                var sok = $(this).val();
                thread = setTimeout(function () { VisFraDropDown1(stasjoner, sok) }, 1000);
            });


            function VisFraDropDown1(stasjon, sok) {
                var utStreng = "";
                fs = [];
                if (sok) {
                    for (var i in stasjon) {
                        if (stasjon[i].Stasjonsnavn.toLowerCase().startsWith(sok.toLowerCase())) {
                            fs[i] = stasjon[i].Stasjonsnavn;
                            utStreng += "<li role='option' id='button'><button type='button' class='btn btn-light btn-sm btn-lg btn-block' onclick='myFunction("+i+")'><span>" + stasjon[i].Stasjonsnavn + "</span></button></li>";
                        }
                    }
                } else {
                    utStreng = "";
                }
                $("#testUl").empty();
                $("#testUl").append(utStreng);
                
            }



            //function testFunc(snavn) {
            //    document.getElementById("testInput").value = snavn;
            //}

            // TIL STASJONER
            $("#fraStasjon").change(function () {
                var id = $(this).val();
                $.ajax({
                    url: '/Home/hentTilStasjoner/' + id,
                    type: 'GET',
                    dataType: 'json',
                    success: function (stasjon) {
                        VisTilDropDown(stasjon);
                    },
                    error: function () {
                        feilhandtering();
                    }
                });
            });

            // TIDSPUNKT
            $("#Tidspunkt").click(function () {
                var tilStasjon = $('#tilStasjon').val();
                var fraStasjon = $("#fraStasjon").val();
                $.ajax({
                    url: '/Home/hentTidspunkt?fraStasjon=' + fraStasjon +"&tilStasjon="+ tilStasjon,
                    type: 'GET',
                    dataType: 'json',
                    success: function (tidspunkt) {
                        VisTidspunktDropDown(tidspunkt);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            });

            // FRA STASJON DROPDOWN
            function VisFraDropDown(stasjon) {
                var utStreng = "<option value'' selected hidden>Hvor vil du reise fra?</option>";
                for (var i in stasjon) {
                    utStreng += "<option value='" + stasjon[i].StasjonsID + "'>" + stasjon[i].Stasjonsnavn + "</option>";
                }
                $("#fraStasjon").append(utStreng);
            }

            // TIL STASJON DROPDOWN
            function VisTilDropDown(stasjon) {
                var utStreng = "<option value'' selected hidden>Hvor vil du reise til?</option>";
                for (var i in stasjon) {
                    utStreng += "<option value='" + stasjon[i].StasjonsID + "'>" + stasjon[i].Stasjonsnavn + "</option>";
                }
                $("#tilStasjon").empty();
                $("#tilStasjon").append(utStreng);
            }

            /*
            function feilhandtering() {
                $("#tilStasjon").append("<option value='feilhandtering'>feilhandtering</option>");
            }
            */

            // TIDSPUNKT
            function VisTidspunktDropDown(tidspunkt) {
                var utStreng = "<option value'' selected hidden>Velg tidspunkt</option>";
                for (var i in tidspunkt) {
                    utStreng += "<option value='" + tidspunkt[i].Tidspunkt + "</option>";
                }
                $("#Tidspunkt").empty();
                $("#Tidspunkt").append(utStreng);
            }
        })
    </script>

    

    <style type="text/css">


        #testInput:focus {
            border-color: #029678;
            box-shadow: inset 0 1px 1px rgba(2,150,120, 0.8), 0 0 8px rgba(2,150,120, 0.86);
        }
    
        #fraStasjon:focus {
            border-color: #029678;
            box-shadow: inset 0 1px 1px rgba(2,150,120, 0.8), 0 0 8px rgba(2,150,120, 0.86);
        }



        /*
        #op1:hover {
            color: #029678;
        }
            */

        #tilStasjon:focus {
            border-color: #029678;
            box-shadow: inset 0 1px 1px rgba(2,150,120, 0.8), 0 0 8px rgba(2,150,120, 0.86);
        }

        #dato:focus {
            border-color: #029678;
            box-shadow: inset 0 1px 1px rgba(2,150,120, 0.8), 0 0 8px rgba(2,150,120, 0.86);
        }


        #Avgangstid:focus {
            border-color: #029678;
            box-shadow: inset 0 1px 1px rgba(2,150,120, 0.8), 0 0 8px rgba(2,150,120, 0.86);
        }

        #bestillKnapp {
            background-color: #029678;
        }

        li {
            list-style-type: none
        }


        #button {
            padding: 0;
      
        }

        #testDiv2 {
            padding: 0;
            //border: dashed 1px;
            width:275px; /* or whatever width you want. */
            max-width:275px; /* or whatever width you want. */
            display: inline-block;
        }
        

        #testUl {
            padding-left: 0;
      
        }



    </style>

</head>

<body>

    <form>
        <h2>Hei, hvor ønsker du å reise?</h2>
        <br />

        <div class="form-row">

            @*<div class="form-group col-md-6" id="testDiv">
            <label for="exampleFormControlSelect1">test</label>
            <input list="testFra" class="form-control" id="testSelect" />
            <datalist id="testFra"></datalist>
        </div>*@


            <div class="form-group col-md-6" id="testDiv1">
                <label for="exampleFormControlSelect1">test</label>
                <input class="form-control" id="testInput" type="text" autocomplete="off" placeholder="Hvor vil du reise fra?" />
                <div class="form-group col-md-6" id="testDiv2">
                    <ul id="testUl"></ul>
                </div>
            </div>

           
            <script>
                function myFunction(s) {
                    document.getElementById("testInput").value = fs[s];
                }
            </script>

            <div class="form-group col-md-6" id="testDiv3">
                <label for="exampleFormControlSelect1">test</label>
                <input class="form-control" id="testInput2" type="text" autocomplete="off" placeholder="Hvor vil du reise fra?" value="" />
            </div>


            <div class="form-group col-md-6" id="dropDown">
                <label for="exampleFormControlSelect1">Reise fra</label>
                <select class="form-control" id="fraStasjon"></select>
            </div>


            <div class="form-group col-md-6" id="dropDown">
                <label for="exampleFormControlSelect1">Reise til</label>
                <select class="form-control" id="tilStasjon"></select>
            </div>



            <div class="form-group col-md-6">
                <label for="exampleFormControlSelect1">Dato</label>
                <input class="form-control" id="dato" name="dato" type="date">
            </div>


            <div class="form-group col-md-6" id="dropDown">
                <label for="exampleFormControlSelect1">Tid</label>
                <select class="form-control" id="Tidspunkt"></select>
            </div>


            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Bestill billett" class="btn btn-success" id="bestillKnapp" />
                    </div>
                </div>
            </div>

        </div>

    

    </form>
</body>
</html>