<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        $(function () {

            // hentAlleStasjoner og bygg opp dropdown når siden lastes

            $.ajax({
                url: '/Home/hentAlleStasjonsnavn',
                type: 'GET',
                dataType: 'json',
                success: function (stasjon) {
                    VisDropDown(stasjon);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });

            function VisDropDown(stasjon) {
                var utStreng = "";
                for (var i in stasjon) {
                    utStreng += "<option value='" + stasjon[i].stasjonsID + "'>" + stasjon[i].Stasjonsnavn + "</option>";
                }
                $("#drop").append(utStreng);
            }
        })
    </script>
    </head>

<body>
    

    <form>
        <div class="form-row">

            <h2>Hei, hvor ønsker du å reise?</h2>
            <br />

            <div class="form-group green-border-focus" id="dropDown">
                <label for="exampleFormControlSelect1">Reise fra</label>
                <select class="form-control" id="drop">
                </select>
            </div>

            <!--
    <div class="form-group col-md-6" id="dropDown">
        <label for="exampleFormControlSelect1">Reise til</label>
        <select class="form-control" id="drop">
        </select>
    </div>

    <br/>

    <div class="form-group col-md-6" id="dropDown">
        <label for="exampleFormControlSelect1">Dato</label>
        <select class="form-control" id="drop">
        </select>
    </div>

    <div class="form-group col-md-6" id="dropDown">
        <label for="exampleFormControlSelect1">Tid</label>
        <select class="form-control" id="drop">
        </select>
    </div>
    -->

        </div>

    </form>



</body>
</html>