<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        $(function () {
            //
            $.ajax({
                url: '/Home/hentFraStasjoner',
                type: 'GET',
                dataType: 'json',
                success: function (stasjon) {
                    VisFraDropDown(stasjon);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });

            $("#drop").change(function () {
                var id = $(this).val();
                $.ajax({
                    url: '/Home/hentTilStasjoner/' + id,
                    type: 'GET',
                    dataType: 'json',
                    success: function (stasjon) {
                        VisTilDropDown(stasjon);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            });

            function VisFraDropDown(stasjon) {
                var utStreng = "";
                for (var i in stasjon) {
                    utStreng += "<option value='" + stasjon[i].stasjonsID + "'>" + stasjon[i].Stasjonsnavn + "</option>";
                }
                $("#drop").append(utStreng);
            }

            function VisTilDropDown(stasjon) {
                var utStreng = "";
                for (var i in stasjon) {
                    utStreng += "<option value='" + stasjon[i].stasjonsID + "'>" + stasjon[i].Stasjonsnavn + "</option>";
                }
                $("#drop1").append(utStreng);
            }
        })
    </script>
</head>

<body>
    <h1>HALLOOOOO FRIENDS</h1>
    <h2>Hallo tofriends</h2>
    Reis fra stasjon: <br />
    <div id="dropDown">
        <select id="drop">
        </select>
    </div>

    Reis til stasjon: <br />
    <div id="dropDown">
        <select id="drop1">
        </select>
    </div>
</body>
</html>