<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        $(function () {
            // ToDo
            // hentAlleStasjoner og bygg opp dropdown når siden lastes

            $.ajax({
                url: '/Home/hentFraStasjoner',
                type: 'GET',
                dataType: 'json',
                success: function (stasjon) {
                    VisFraDropDown(stasjon);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });

            $("#fraStasjon").change(function () {
                var id = $(this).val();
                $.ajax({
                    url: '/Home/hentTilStasjoner/' + id,
                    type: 'GET',
                    dataType: 'json',
                    success: function (stasjon) {
                        VisTilDropDown(stasjon);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            });

            $("#tilStasjon").change(function () {
                var tilStasjon = $('#tilStasjon').val();
                var fraStasjon = $("#fraStasjon").val();
                $.ajax({
                    url: '/Home/hentTidspunkt?fraStasjon=' + fraStasjon +"&tilStasjon="+ tilStasjon,
                    type: 'GET',
                    dataType: 'json',
                    success: function (tidspunkt) {
                        VisTidspunktDropDown(tidspunkt);
                    },
                    error: function (x, y, z) {
                        alert(x + '\n' + y + '\n' + z);
                    }
                });
            });

            function VisFraDropDown(stasjon) {
                var utStreng = "<option value'' selected hidden>Velg stasjon</option>";
                for (var i in stasjon) {
                    utStreng += "<option value='" + stasjon[i].StasjonsID + "'>" + stasjon[i].Stasjonsnavn + "</option>";
                }
                $("#fraStasjon").append(utStreng);
            }

            function VisTilDropDown(stasjon) {
                var utStreng = "<option value'' selected hidden>Velg stasjon</option>";
                for (var i in stasjon) {
                    utStreng += "<option value='" + stasjon[i].StasjonsID + "'>" + stasjon[i].Stasjonsnavn + "</option>";
                }
                $("#tilStasjon").empty();
                $("#tilStasjon").append(utStreng);
            }

            function VisTidspunktDropDown(avgang) {
                var utStreng = "<option value'' selected hidden>Velg tidspunkt</option>";
                for (var i in avgang) {
                    utStreng += "<option value='" + avgang[i] + "'>" + avgang[i] + "</option>";
                }
                $("#Tidspunkt").empty();
                $("#Tidspunkt").append(utStreng);
            }
        })
    </script>
</head>

<body>

    <form>
        <h2>Hei, hvor ønsker du å reise?</h2>
        <br />

        <div class="form-row">

            <div class="form-group col-md-6" id="dropDown">
                <label for="exampleFormControlSelect1">Reise fra</label>
                <select class="form-control" id="fraStasjon"></select>
            </div>


            <div class="form-group col-md-6" id="dropDown">
                <label for="exampleFormControlSelect1">Reise til</label>
                <select class="form-control" id="tilStasjon"></select>
            </div>


            <div class="form-group col-md-6">
                <label for="exampleFormControlSelect1">Dato</label>
                <input class="form-control" id="dato" name="dato" type="date">
            </div>


            <div class="form-group col-md-6" id="dropDown">
                <label for="exampleFormControlSelect1">Tid</label>
                <select class="form-control" id="Tidspunkt"></select>
            </div>



            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Bestill" class="btn btn-success" />
                    </div>
                </div>
            </div>

        </div>

    </form>
</body>
</html>